@import "vars";

* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	&:before, &:after {
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
	}
}

@mixin circle($width) {
	width: $width;
	height: $width;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 50%;
}

h1, h2, h3, h4, h5, h6 {
	line-height: 1.2;
	margin: 0;
}

p {
	margin: 0 0 1em 0;
}

img {
	max-width: 100%;	
}

.text-center {
	text-align: center;
}

a {
	color: $default_text_color;	
	outline: 0;
}

.button {
	display: inline-block;
	background-color: $accent;
	border-radius: 15px;
	color: #000;
	padding: 11px 20px;
	// min-width: 150px;
	min-width: 653px;
	outline: 0;
	font-size: 16px;
	font-weight: 500;
	text-transform: uppercase;
	text-decoration: none;
	cursor: pointer;	
  

	&:hover {
		background-color: darken($accent, 10%);
	}
}

.container {
	position: relative;
}

.input-div {
	display: inline-block;
	position: relative;

	.error-message {
		position: absolute;
		top: 44px;
		font-weight: 500;
	}
}

.input, .textarea {
	font-size: 16px;
	color: $default_text_color;
	border: 1px solid $accent;
	border-radius: 15px;
	outline: 0;
	padding: 9px 20px;
	// width: 170px;
	font-weight: normal;
	background-color: transparent;

	.input-div & {
		width: 100%;
	}
	
	&.error {
		border-color: red !important;
		color: red !important;

		&+.error-message {
			display: block;
		}
	}

	&+.error-message {
		text-align: left;
		display: none;
		color: red;
		font-size: 14px;
		padding-left: 20px;
	}

	&::-webkit-input-placeholder {
		color: #555555;
		opacity: 1;
	}
	
	&::-moz-placeholder {
		color: #555555;
		opacity: 1;
	}
	
	&:-ms-input-placeholder {
		color: #555555;
		opacity: 1;
	}
	
	&.error::-webkit-input-placeholder {
		color: red !important;
	}
	
	&.error::-moz-placeholder {
		color: red !important;
	}
	
	&.error:-ms-input-placeholder {
		color: red !important;
	}
}

.textarea {
	height: 123px;
}

.radio, .checkbox {
	position: relative;
	color: #000;
	padding-left: 30px;

	[type="checkbox"], [type="radio"] {
		display: none;

		& + label {
			cursor: pointer;

			&:before, &:after {
				content: '';
				position: absolute;
				border-radius: 50%;
			}

			&:before {
				top: -1px;
				left: 0;
				width: 23px;
				height: 23px;
				border: 2px solid $accent;
			}

			&:after {
				top: 3px;
				left: 4px;
				width: 15px;
				height: 15px;
			}
		}
		&:checked + label:after {
			background-color: $accent;
		}
	}
}

.checkbox {
	color: #555555;
	font-size: 16px;
	font-weight: 500;
	
	a {
		color: #555555;
	}

	[type="checkbox"], [type="radio"] {
		& + label {
			&:before, &:after {
				border-radius: 0;
			}
		}
	}
}
