@import "vars";

/*==========  Desktop First  ==========*/


/* Large Devices, Wide Screens */
@media only screen and (max-width : 1199px) {

}
	/**/


/* Medium Devices, Desktops */
@media only screen and (max-width : 991px) {	
	.section {
		&-main {
			&-img {
				margin-bottom: 20px;
			}
		}

		&-test {
			.test {
				&.has-image {
					.test {
						&-answer {
							display: block;
						}

						&-img {
							margin: 0 auto 15px 30px;
						}
					}
				}
			}
		}

		&-presents {
			&-title {
				top: 0;
			}

			.curve {
				margin-left: 230px;
			}
		}
	}

	.franchise {		
		.section-franchise {
			.button {
				min-width: auto;
				width: 100%;
			}

			.text-center {
				text-align: left;
			}
		}

		
	}
}
	/**/


/* Small Devices, Tablets */
@media only screen and (max-width : 767px) {
	
	.button {
		min-width: auto;
	}

	.section {
		&-main {
			&-title {
				font-size: 35px;
			}
		}

		&-aksia {
			&-title {
				margin-left: 0;
				text-align: center;
			}

			.curve {
				display: none;
			}

			&-text {
				margin-top: 20px;
				padding: 0;
			}
		}

		&-test {
			margin-bottom: 30px;

			.test {
				&-title {
					margin-bottom: 10px;
				}

				&-question, &.has-image .test-question {				
					margin-bottom: 20px;
				}							

				&-answers {
					min-height: auto;
					margin-bottom: 20px;
				}

				&-answer {
					padding-right: 0 !important;
					padding-left: 0 !important;
					width: 100%;	
					margin-bottom: 25px;
				}				

				&-birthday {
					min-height: auto;
					img {
						display: none;
					}
				}

				&-content {
					.checkbox {
						padding-left: 30px;
					}
				}
			}
		}

		&-presents {
			display: none;
		}

		&-result {
			&-present {
				text-align: center;
				display: block;
				margin-top: 40px;

				img {
					// display: block;
					// margin: 0 auto;
				}
			}
		}
	}	
}
	/**/


/* Extra Small Devices, Phones */
@media only screen and (max-width : 479px) {
	.col-xxs-12 {
		width: 100%;
	}

	.col-xxs-offset-0 {
		margin-left: 0;
	}

	.hidden-xss {
		display: none !important;
	}

	.modal {
		&-content {
			padding: 15px;
		}
	}

	.section {
		&-main {
			padding-top: 40px;

			&-title {
				font-size: 28px;
			}
		}

		&-test {
			.test {			
				&-img {
					margin-bottom: 10px;
				}

				&-answer {
					display: block;
				}				
			}
		}

		&-result {
			padding-top: 40px;

			&-present {
				img {
					margin-right: 0;
				}
			}
		}
	}

}
	/**/


/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {

}
	/**/


/*==========  Mobile First  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {

}
	/**/


/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {

}
	/**/


/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {

}
	/**/


/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {
	.main-menu {
		.container {
			width: auto;
			padding: 0;
		}
	}
}
	/**/


/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {
	
}
	/**/

