@import "fonts";
@import "vars";
@import "base";

html, body {
	height: 100%;
	margin: 0;
}

body {
	min-width: 320px;
	position: relative;
	color: $default_text_color;
	line-height: $default_line_height;
	font-size: $default_font_size;
	font-family: $default_font;
	font-style: normal;
	overflow-x: auto;
	opacity: 1;
}

.preloader {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #222;
	z-index: 100;
	display: none;

	.fa {
		position: absolute;
		top: 50%;
		left: 50%;
		margin-top: -38px;
		margin-left: -38px;
		color: #ffffff;
	}
}

.page-top {
	position: fixed;
	bottom: 20px;
	right: -100px;
	z-index: 99;
	cursor: pointer;
	@include circle(50px);
	background-color: $accent;
	font-size: 25px;
	color: #ffffff;
	opacity: .3;
	transition: all .5s ease-out;	

	&.active {		
		right: 20px;			
	}

	&:hover {
		opacity: 1;
	}
}

.bold {
	font-weight: bold;
}

.big {
	font-size: 30px;
}

.accent	{
	color: $accent;
}

.torg {
	color: #555555;
	text-transform: uppercase;
}

.header {
	// position: fixed;
	// top: 0;
	// left: 0;
	// right: 0;
	font-size: 18px;
	z-index: 98;
	background-color: #fff;

	&-header {
		display: none;
		padding: 7px 15px;
		font-size: 14px;
		color: #ffffff;
		text-align: center;
		background-color: $accent;

		a {
			color: #ffffff;
		}
	}

	&-content {
		display: flex;
		align-items: center;
		margin-top: 40px;
		height: 50px;
	}

	.logo-text {
		font-weight: normal;
		margin-left: 15px;
	}

	&-phones {
		font-size: 20.14px;
		white-space: nowrap;
		margin-right: 40px;
		margin-bottom: -5px;
		font-weight: bold;
	}

	.cart {
		display: flex;

		&-content {
			margin-left: 10px;
		}

		&-text {
			font-size: 20px;
			font-weight: bold;	
			margin-bottom: 5px;
		}

		&-nums {
			background-color: $accent;
			width: 37px;
			height: 23px;
			font-weight: 500;
			line-height: 23px;
			text-align: center;
			border-radius: 10px;
		}
	}
}

.page-wrapper {
	overflow: hidden;
}

.section {
	position: relative;

	&-title {
		color: #000;
		font-weight: bold;
		margin-bottom: 40px;
		font-size: 30px;
		text-transform: uppercase;
	}

	&-main {
		padding: 80px 0 0;

		&-title {
			font-weight: bold;
			font-size: 50px;
			text-transform: uppercase;
			margin-bottom: 40px;
		}
	}

	&-aksia {
		text-align: center;
		margin-top: -120px;

		&-title {
			font-size: 36px;
			font-weight: bold;
			text-align: left;
			margin-left: 100px;
		}

		&-content {
			position: relative;
		}

		&-text {
			padding: 130px 0 0 196px;
		}

		.curve {
			top: -25px;
		}
	}

	&-present {
		padding-top: 30px;
		margin-bottom: 60px;
		text-align: center;

		&-title {
			font-weight: bold;
			margin-bottom: 40px;
		}

		.present {
			display: flex;
			flex-direction: column;
			align-items: center;
			max-width: 166px;
			margin: 0 auto;

			&-number {
				font-size: 48px;
				font-weight: bold;
				color: #555;
			}

			&-icon {
				display: inline-block;
				width: 41px;
				height: 45px;
				background-image: url('../img/present.png');
			}

			&-circle {
				width: 31px;
				height: 31px;
				border-radius: 50%;
				background-color: #555555;
				margin-bottom: 15px;
				flex-shrink: 0;							
			}

			&:before, &:after {
				position: absolute;
				top: 68px;
				left: 0;
				width: 100%;
				background-color: #555;
				content: '';
				z-index: -1;
				height: 8px;
			}

			&:after {
				display: none;
				left: 50%;
				width: 50%;
				background-color: #555;
			}

			&.last-present:before {
				width: 50%;
			}

			&.active:before {
				background-color: $accent;
			}

			&.last-active:not(.last-present):after {
				display: block;
			}

			&-text {
				color: #000;
				font-size: 16px;
				flex-grow: 1;
				margin-bottom: 10px;
			}

			&-img {
				width: auto !important;
				&.active {
					display: none;
				}
			}

			&.active {
				.present {
					&-icon {
						background-image: url('../img/present-accent.png');
					}
					&-circle {
						background-color: $accent;
					}
					&-number {
						color: $accent;
					}
					&-img {
						&:not(.active) {
							display: none;
						}
						&.active {
							display: block;
						}
					}
				}
			}
		}
	}

	&-test {
		text-align: center;

		&-content {
			border: 3px solid $accent;
			border-radius: 30px;
			padding: 40px 20px;
		}

		.test {
			display: none;

			&:after {
				content: 'Необходимо выбрать один из вариантов';
				color: red;
				margin-top: 10px;
				font-size: 16px;
				display: none;
			}

			&.has-error:after {
				display: block;
			}

			&.active {
				display: block;
			}

			&.has-image {
				.test-question {
					margin-bottom: 50px;
				}
			}

			&-title, &-question {
				font-size: 24px;
				font-weight: 500;
				margin: 0 auto 30px;
				max-width: 740px;				
			}

			&-question {
				margin-bottom: 100px;
			}

			&-answers {
				display: flex;
				flex-wrap: wrap;
				align-content: flex-start;
				align-items: flex-start;
				min-height: 300px;
			}

			&-answer {
				display: flex;
				align-items: center;
				text-align: left;
				font-size: 16px;
				font-weight: 500;
				width: 50%;
				margin-bottom: 45px;

				&:nth-child(odd) {
					padding-right: 40px;
				}
				&:nth-child(even) {
					padding-left: 40px;
				}
			}

			&-img {
				width: 165px;
				height: 130px;
				border-radius: 20px;
				overflow: hidden;
				flex-shrink: 0;
				margin-right: 30px;
			}

			&-birthday {
				position: relative;
				min-height: 300px;
				max-width: 653px;
				text-align: left;
				margin: 0 auto;

				.input {
					margin-bottom: 20px;

					&[name="День"], &[name="Год"] {
						width: 100px;
					}

					&[name="Месяц"] {
						width: 170px;
					}
				}

				img {
					top: -80px;
					right: -80px;
					position: absolute;
				}
			}

			&-content {
				max-width: 653px;
				text-align: left;
				margin: 0 auto;

				&-input, .button {
					margin-bottom: 20px;
				}

				.input, .button {
					display: block;
					width: 288px;
					min-width: auto;

					&[name="Имя"] {
						width: 200px;
					}
				}

				.button {
					margin-bottom: 60px;
				}

				.checkbox {
					margin-bottom: 25px;
					padding-left: 50px;
				}
			}
		}
	}

	&-presents {
		position: relative;
		text-align: center;

		&-title {
			position: absolute;
			top: 30px;
			left: 15px;
			right: 15px;
		}

		.curve {
			top: -60px;
			left: 50%;
			margin-left: 260px;
			transform: rotateY(180deg);
		}

		&-img {
			position: relative;
			margin-top: -50px;
			margin-bottom: -5px;
			z-index: -1;
		}
	}

	&-result {
		padding: 80px 0 40px;


		&-investors {
			margin: 60px 0 30px;

			img {
				margin-bottom: 20px;
			}
		}

		&-present {
			display: flex;
			align-items: center;
			font-weight: bold;
			font-size: 28px;
			margin-top: 80px;

			img {
				margin-right: 30px;
			}
		}
	}

	
}

.franchise {
	&.page-wrapper {
		min-height: 100vh;
		display: flex;
		flex-direction: column;
	}

	.section-franchise {
		font-size: 18px;
		padding: 40px 0 280px;
		background-repeat: no-repeat;
		background-position: center 100%;
		flex-grow: 1;

		&-title {
			font-weight: bold;
			font-size: 48px;
			margin-bottom: 30px;
			text-transform: uppercase;
		}

		&-text {
			font-size: 24px;
		}

		.button {
			margin-bottom: 24px;
		}
	}

	.button {
		max-width: 100%;
		min-width: 400px;
		border-radius: 28px;
		box-shadow: 0px 1px 12.78px 5.22px rgba(0, 0, 0, 0.11);
	}

	.footer {
		background-color: #555555;

		a {
			display: inline-block;
			color: #fff;
			font-size: 12px;
			font-weight: normal;
			text-transform: uppercase;
			margin-bottom: 10px;
		}
	}
}  

.footer {
	background-color: $accent;
	color: #ffffff;
	font-weight: 500;
	font-size: 16px;
	padding: 22px 0;

	a {
		color: #555555;
	}	
}

.curve {
	position: absolute;
	top: 0;
	left: 0;
}


@import "media"; // Всегда в конце
